#crossselling_list, .accessories-block .block_content, #productscategory_list {

  padding: 0;

  /** RESET AND LAYOUT

  ===================================*/

  /** THEME

  ===================================*/

  /* LOADER */

  /* PAGER */

  /* DIRECTION CONTROLS (NEXT / PREV) */

  /* AUTO CONTROLS (START / STOP) */

  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

  /* IMAGE CAPTIONS */

}

#crossselling_list .bx-wrapper, .accessories-block .block_content .bx-wrapper, #productscategory_list .bx-wrapper {

  position: relative;

  padding: 0;

  *zoom: 1;

  margin: 0 !important;

}

#crossselling_list .bx-wrapper img, .accessories-block .block_content .bx-wrapper img, #productscategory_list .bx-wrapper img {

  max-width: 100%;

  display: block;

}

#crossselling_list .bx-wrapper .bx-pager,

#crossselling_list .bx-wrapper .bx-controls-auto, .accessories-block .block_content .bx-wrapper .bx-pager,

.accessories-block .block_content .bx-wrapper .bx-controls-auto, #productscategory_list .bx-wrapper .bx-pager,

#productscategory_list .bx-wrapper .bx-controls-auto {

  position: absolute;

  bottom: -30px;

  width: 100%;

}

#crossselling_list .bx-wrapper .bx-loading, .accessories-block .block_content .bx-wrapper .bx-loading, #productscategory_list .bx-wrapper .bx-loading {

  min-height: 50px;

  background: url(images/bx_loader.html) center center no-repeat;

  height: 100%;

  width: 100%;

  position: absolute;

  top: 0;

  left: 0;

  z-index: 2000;

  display: none;

}

#crossselling_list .bx-wrapper .bx-pager, .accessories-block .block_content .bx-wrapper .bx-pager, #productscategory_list .bx-wrapper .bx-pager {

  text-align: center;

  font-size: .85em;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  font-weight: bold;

  color: #666;

  padding-top: 20px;

}

#crossselling_list .bx-wrapper .bx-pager .bx-pager-item,

#crossselling_list .bx-wrapper .bx-controls-auto .bx-controls-auto-item, .accessories-block .block_content .bx-wrapper .bx-pager .bx-pager-item,

.accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-controls-auto-item, #productscategory_list .bx-wrapper .bx-pager .bx-pager-item,

#productscategory_list .bx-wrapper .bx-controls-auto .bx-controls-auto-item {

  display: inline-block;

  *zoom: 1;

  *display: inline;

}

#crossselling_list .bx-wrapper .bx-pager.bx-default-pager a, .accessories-block .block_content .bx-wrapper .bx-pager.bx-default-pager a, #productscategory_list .bx-wrapper .bx-pager.bx-default-pager a {

  text-indent: -9999px;

  display: block;

  width: 10px;

  height: 10px;

  margin: 0 5px;

  background: #000;

  outline: 0;

  -webkit-border-radius: 5px;

  -moz-border-radius: 5px;

  -ms-border-radius: 5px;

  border-radius: 5px;

}

#crossselling_list .bx-wrapper .bx-pager.bx-default-pager a:hover,

#crossselling_list .bx-wrapper .bx-pager.bx-default-pager a.active, .accessories-block .block_content .bx-wrapper .bx-pager.bx-default-pager a:hover,

.accessories-block .block_content .bx-wrapper .bx-pager.bx-default-pager a.active, #productscategory_list .bx-wrapper .bx-pager.bx-default-pager a:hover,

#productscategory_list .bx-wrapper .bx-pager.bx-default-pager a.active {

  background: #000;

}

#crossselling_list .bx-wrapper .bx-controls-direction a, .accessories-block .block_content .bx-wrapper .bx-controls-direction a, #productscategory_list .bx-wrapper .bx-controls-direction a {

  margin-top: 38px;

  height: 20px;

  width: 20px;

  line-height: 0;

  position: absolute;

  top: 40%;

  margin-top: -10px;

  font-size: 0;

  overflow: hidden;

}

#crossselling_list .bx-wrapper .bx-controls-direction a:before, .accessories-block .block_content .bx-wrapper .bx-controls-direction a:before, #productscategory_list .bx-wrapper .bx-controls-direction a:before {

  padding-left: 2px;

  color: #c0c0c0;

  font-family: "FontAwesome";

  font-size: 20px;

  line-height: 22px;

}

#crossselling_list .bx-wrapper .bx-controls-direction a:hover:before, .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover:before, #productscategory_list .bx-wrapper .bx-controls-direction a:hover:before {

  color: #0f0f0f;

}

#crossselling_list .bx-next, .accessories-block .block_content .bx-next, #productscategory_list .bx-next {

  right: 10px;

}

#crossselling_list .bx-next:before, .accessories-block .block_content .bx-next:before, #productscategory_list .bx-next:before {

  content: "\f138";

}

#crossselling_list .bx-prev, .accessories-block .block_content .bx-prev, #productscategory_list .bx-prev {

  left: 10px;

}

#crossselling_list .bx-prev:before, .accessories-block .block_content .bx-prev:before, #productscategory_list .bx-prev:before {

  content: "\f137";

}

#crossselling_list .bx-wrapper .bx-controls-direction a.disabled, .accessories-block .block_content .bx-wrapper .bx-controls-direction a.disabled, #productscategory_list .bx-wrapper .bx-controls-direction a.disabled {

  display: none;

}

#crossselling_list .bx-wrapper .bx-controls-auto, .accessories-block .block_content .bx-wrapper .bx-controls-auto, #productscategory_list .bx-wrapper .bx-controls-auto {

  text-align: center;

}

#crossselling_list .bx-wrapper .bx-controls-auto .bx-start, .accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-start, #productscategory_list .bx-wrapper .bx-controls-auto .bx-start {

  display: block;

  text-indent: -9999px;

  width: 10px;

  height: 11px;

  outline: 0;

  background: url(images/controls.html) -86px -11px no-repeat;

  margin: 0 3px;

}

#crossselling_list .bx-wrapper .bx-controls-auto .bx-start:hover,

#crossselling_list .bx-wrapper .bx-controls-auto .bx-start.active, .accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-start:hover,

.accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-start.active, #productscategory_list .bx-wrapper .bx-controls-auto .bx-start:hover,

#productscategory_list .bx-wrapper .bx-controls-auto .bx-start.active {

  background-position: -86px 0;

}

#crossselling_list .bx-wrapper .bx-controls-auto .bx-stop, .accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-stop, #productscategory_list .bx-wrapper .bx-controls-auto .bx-stop {

  display: block;

  text-indent: -9999px;

  width: 9px;

  height: 11px;

  outline: 0;

  background: url(images/controls.html) -86px -44px no-repeat;

  margin: 0 3px;

}

#crossselling_list .bx-wrapper .bx-controls-auto .bx-stop:hover,

#crossselling_list .bx-wrapper .bx-controls-auto .bx-stop.active, .accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-stop:hover,

.accessories-block .block_content .bx-wrapper .bx-controls-auto .bx-stop.active, #productscategory_list .bx-wrapper .bx-controls-auto .bx-stop:hover,

#productscategory_list .bx-wrapper .bx-controls-auto .bx-stop.active {

  background-position: -86px -33px;

}

#crossselling_list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager, .accessories-block .block_content .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager, #productscategory_list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {

  text-align: left;

  width: 80%;

}

#crossselling_list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto, .accessories-block .block_content .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto, #productscategory_list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {

  right: 0;

  width: 35px;

}

#crossselling_list .bx-wrapper .bx-caption, .accessories-block .block_content .bx-wrapper .bx-caption, #productscategory_list .bx-wrapper .bx-caption {

  position: absolute;

  bottom: 0;

  left: 0;

  background: #666\9;

  background: rgba(80, 80, 80, 0.75);

  width: 100%;

}

#crossselling_list .bx-wrapper .bx-caption span, .accessories-block .block_content .bx-wrapper .bx-caption span, #productscategory_list .bx-wrapper .bx-caption span {

  color: white;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  display: block;

  font-size: .85em;

  padding: 10px;

}

