#header_links {
  list-style-type: none;
  float: right;
  margin: 0;
  clear: both;
}
@media (min-width: 767px) and (max-width: 991px) {
  #header_links {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #header_links {
    width: 100%;
    padding: 0;
    display: none;
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (max-width: 479px) {
  #header_links {
    width: 100px;
  }
}
#header_links li {
  float: left;
  padding: 10px;
  background: url("../../../img/megnor/pipe.jpg") no-repeat scroll left center transparent;
}
@media (max-width: 767px) {
  #header_links li {
    width: 100%;
    float: none;
    border: none;
    padding: 3px 8px;
    background: none;
  }
}
#header_links li:first-child {
  background: none;
}
#header_links li a {
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  #header_links li a {
    color: #0f0f0f;
  }
}
#header_links li a:hover {
  color: #2271b2;
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee;
}
#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.html) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px;
}
ul#footer_links li {
  display: inline;
  padding: 0 10px;
}

.header_permentlink {
  float: right;
}
@media (max-width: 767px) {
  .header_permentlink {
    background: #EEEEEE;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 118px;
    width: 24%;
    height: 50px;
    border-right: 1px solid #fff;
    z-index: 95;
  }
}
.header_permentlink .tm_permenu_inner {
  display: none;
}
@media (max-width: 767px) {
  .header_permentlink .tm_permenu_inner {
    cursor: pointer;
    display: block;
  }
  .header_permentlink .tm_permenu_inner .headertoggle_img:before {
    content: "\f039";
    display: block;
    font-family: "FontAwesome";
    font-size: 23px;
    color: #fff;
    position: relative;
    top: 7px;
    line-height: 25px;
    padding-top: 5px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header_permentlink .tm_permenu_inner .headertoggle_img:before {
    color: #0f0f0f;
  }
}
