/*******************************************************
Product list Styles
********************************************************/
.product_list {
  position: relative;
}

ul.product_list .availability span {
  /*	display: inline-block;*/
  color: white;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px;
  display: none;
}
ul.product_list .availability span.available-now {
  background: #46a74e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
ul.product_list .availability span.out-of-stock {
  background: #FFB773;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
ul.product_list .color-list-container {
  margin-bottom: 12px;
}
ul.product_list .color-list-container ul li {
  display: inline-block;
  margin: 0;
  border: 1px solid #e2e2e2;
  padding: 0;
  width: auto;
  float: none;
}
ul.product_list .color-list-container ul li a {
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
}
ul.product_list .product-image-container {
  text-align: center;
}
ul.product_list .product-image-container img {
  max-width: 100%;
  margin: 0 auto;
  -moz-transition-duration: 1500ms;
  -webkit-transition-duration: 1500ms;
  transition-duration: 1500ms;
}
ul.product_list .product-image-container .quick-view {
  font: 700 13px/8px "Open Sans", Arial, Helvetica, sans-serif;
  color: #777676;
  left: 50%;
  top: 50%;
  margin: -21px 0 0 -53px;
  padding: 8px 13px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
}
@media (min-width: 1280px) {
  ul.product_list .product-image-container .quick-view {
    display: none;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
@media (max-width: 767px) {
  ul.product_list .product-image-container .quick-view {
    display: none !important;
  }
}
ul.product_list .comments_note {
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: -85px;
  left: 0;
  right: 0;
}
ul.product_list .comments_note .star_content {
  float: left;
}
@media (max-width: 479px) {
  ul.product_list .comments_note .star_content {
    float: none;
  }
}
ul.product_list .comments_note .nb-comments {
  overflow: hidden;
  font-style: italic;
  display: none;
}
ul.product_list .right-block .button-container .functional-buttons {
  display: none;
}
@media (max-width: 479px) {
  ul.product_list .right-block .button-container {
    display: none;
  }
}
ul.product_list .functional-buttons {
  display: block;
}
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
  font-weight: normal;
  color: #2271b2;
  cursor: pointer;
  font-size: 0;
  line-height: 21px;
  height: 37px;
  display: block;
}
ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
  color: #cf082e;
}
ul.product_list .functional-buttons div.wishlist {
  /*border-right: 1px solid $base-border-color;*/
  background: url("../img/megnor/cart-info.png") no-repeat scroll center -30px #f2f0f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  /*a:before {
  	display: inline-block;
  	font-family: $font-icon;
  	content: "\f08a";
  	margin-right: 3px;
  	padding: 8px 3px;
  		font-size:14px;
  	color: $theme-link-color;
  }
  a.checked:before {
  	content: "\f004";  
  }*/
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
ul.product_list .functional-buttons div.wishlist:hover {
  background: url("../img/megnor/cart-info.png") no-repeat scroll center -30px #ffe422;
}
ul.product_list .functional-buttons div.compare {
  background: url("../img/megnor/cart-info.png") no-repeat scroll center -101px #f2f0f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  			/*a {
  				&:before {
  					content: "\f067";
  					display: inline-block;
  					font-family: $font-icon;
  					margin-right: 3px;
  					padding: 8px 3px;
  					font-size:14px;
  					color: $theme-link-color;
  					@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
  						display: none;
  					}
  
  					@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
  						display: none;
  					}
  				}
  				&.checked {
  					&:before {
  						content: "\f068";
  					}
  				}	
  			}*/
}
ul.product_list .functional-buttons div.compare:hover {
  background: url("../img/megnor/cart-info.png") no-repeat scroll center -101px #ffe422;
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
#crossselling li.product-container {
  border-left: 1px solid #e2e2e2;
}

.accessories-block {
  border: none;
  margin-bottom: 0;
}
.accessories-block ul.product_list.grid#accessories-grid li .button-container, .accessories-block ul.tm-carousel#accessories-carousel li .button-container {
  margin-bottom: 14px;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 90px;
}
@media (min-width: 1280px) {
  .accessories-block ul.product_list.grid#accessories-grid li .button-container, .accessories-block ul.tm-carousel#accessories-carousel li .button-container {
    display: none;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: -45px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
.accessories-block ul.product_list.grid#accessories-grid li .button-container .button.ajax_add_to_cart_button span, .accessories-block ul.tm-carousel#accessories-carousel li .button-container .button.ajax_add_to_cart_button span {
  height: 37px;
}
.accessories-block ul.product_list.grid#accessories-grid li.hovered .button-container, .accessories-block ul.tm-carousel#accessories-carousel li.hovered .button-container {
  display: block;
}

div.star.star_on, .star {
  display: inline;
  float: none;
}

#category ul.product_list.grid li {
  border-bottom: 1px solid #e2e2e2;
}

ul.tm-carousel .owl-wrapper-outer {
  margin-left: -2px;
  overflow: hidden;
  position: relative;
  width: 99%;
}

ul.product_list.grid li, ul.tm-carousel li {
  padding: 30px 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list.grid li, ul.tm-carousel li {
    width: 50%;
    float: left;
  }
}
ul.product_list.grid li .product-container, ul.tm-carousel li .product-container {
  background: white;
  padding: 7px;
  position: relative;
  border-right: 1px solid #e2e2e2;
}
ul.product_list.grid li .product-container .product-image-container, ul.tm-carousel li .product-container .product-image-container {
  /*border: 1px solid $base-listing-border-color;*/
  padding: 9px;
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 767px) {
  ul.product_list.grid li .product-container .product-image-container, ul.tm-carousel li .product-container .product-image-container {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
ul.product_list.grid li .product-container .product-image-container .content_price, ul.tm-carousel li .product-container .product-image-container .content_price {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  background: url(../img/price-container-bg.png);
  padding: 9px 0;
  display: none;
}
ul.product_list.grid li .product-container .product-image-container .content_price span, ul.tm-carousel li .product-container .product-image-container .content_price span {
  color: white;
}
ul.product_list.grid li .product-container .product-image-container .content_price span.old-price, ul.tm-carousel li .product-container .product-image-container .content_price span.old-price {
  color: #b1b0b0;
}
ul.product_list.grid li .product-container h5, ul.tm-carousel li .product-container h5 {
  padding: 0 15px;
  /*	min-height: 53px;*/
}
@media (min-width: 1280px) {
  ul.product_list.grid li .product-container .comments_note, ul.tm-carousel li .product-container .comments_note {
    display: none;
    text-align: center;
    width: 100%;
  }
}
ul.product_list.grid li .product-container .comments_note .star_content, ul.tm-carousel li .product-container .comments_note .star_content {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}
ul.product_list.grid li .product-container .product-desc, ul.tm-carousel li .product-container .product-desc {
  display: none;
}
ul.product_list.grid li .product-container .content_price, ul.tm-carousel li .product-container .content_price {
  padding-bottom: 9px;
  line-height: 21px;
}
ul.product_list.grid li .product-container .old-price,
ul.product_list.grid li .product-container .price,
ul.product_list.grid li .product-container .price-percent-reduction, ul.tm-carousel li .product-container .old-price,
ul.tm-carousel li .product-container .price,
ul.tm-carousel li .product-container .price-percent-reduction {
  display: inline-block;
}
ul.product_list.grid li .product-container .product-flags, ul.tm-carousel li .product-container .product-flags {
  position: absolute;
  left: 10px;
  bottom: 0;
}
ul.product_list.grid li .product-container .product-flags .discount, ul.tm-carousel li .product-container .product-flags .discount {
  background: none repeat scroll 0 0 #F2F0F1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
ul.product_list.grid li .product-container .right-block .product-flags, ul.tm-carousel li .product-container .right-block .product-flags {
  display: none;
}
ul.product_list.grid li .product-container .old-price, ul.tm-carousel li .product-container .old-price {
  margin-right: 5px;
}
ul.product_list.grid li .product-container .button-container, ul.tm-carousel li .product-container .button-container {
  margin: 0 auto 14px;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: -45px;
  width: 140px;
  left: 0;
  right: 0;
  display: block;
}
@media (min-width: 1280px) {
  ul.product_list.grid li .product-container .button-container, ul.tm-carousel li .product-container .button-container {
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    display: none;
    position: absolute;
    top: -45px;
    width: 140px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
ul.product_list.grid li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid li .product-container .button-container span.button, ul.product_list.grid li .product-container .button-container .lnk_view, ul.tm-carousel li .product-container .button-container .ajax_add_to_cart_button,
ul.tm-carousel li .product-container .button-container span.button, ul.tm-carousel li .product-container .button-container .lnk_view {
  margin: 0;
  font-size: 0;
}
ul.product_list.grid li .product-container .button-container a.quick-view, ul.tm-carousel li .product-container .button-container a.quick-view {
  background: url("../img/megnor/cart-info.png") no-repeat scroll center -251px #f2f0f1;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  display: block;
  float: right;
  font-size: 0;
  height: 37px;
  width: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  ul.product_list.grid li .product-container .button-container a.quick-view, ul.tm-carousel li .product-container .button-container a.quick-view {
    display: none;
  }
}
ul.product_list.grid li .product-container .button-container a.quick-view:hover, ul.tm-carousel li .product-container .button-container a.quick-view:hover {
  background-color: #FFE422;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
ul.product_list.grid li .product-container .functional-buttons, ul.tm-carousel li .product-container .functional-buttons {
  padding: 0;
  width: 140px;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  display: none;
}
@media (min-width: 1280px) {
  ul.product_list.grid li .product-container .functional-buttons, ul.tm-carousel li .product-container .functional-buttons {
    display: none;
  }
}
ul.product_list.grid li .product-container .functional-buttons div, ul.tm-carousel li .product-container .functional-buttons div {
  width: 41px;
  margin: 0 3px;
  float: right;
  height: 37px;
  padding: 0;
}
ul.product_list.grid li .product-container .right-block, ul.tm-carousel li .product-container .right-block {
  position: relative;
}
ul.product_list.grid li .product-container .right-block .functional-buttons, ul.tm-carousel li .product-container .right-block .functional-buttons {
  display: block;
}
@media (min-width: 1280px) {
  ul.product_list.grid li.hovered .product-container, ul.tm-carousel li.hovered .product-container {
    /*@include box-shadow(rgba(black, 0.17) 0 0 13px);*/
    position: relative;
    z-index: 10;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  ul.product_list.grid li.hovered .product-container .content_price, ul.tm-carousel li.hovered .product-container .content_price {
    display: block;
  }
  ul.product_list.grid li.hovered .product-container img, ul.tm-carousel li.hovered .product-container img {
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    transition-duration: 1500ms;
    transform: scale(1.1);
  }
  ul.product_list.grid li.hovered .product-container .product-image-container .content_price, ul.tm-carousel li.hovered .product-container .product-image-container .content_price {
    display: none;
  }
  ul.product_list.grid li.hovered .product-container .product-image-container .quick-view, ul.tm-carousel li.hovered .product-container .product-image-container .quick-view {
    display: block;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  ul.product_list.grid li.hovered .product-container .button-container, ul.product_list.grid li.hovered .product-container .comments_note, ul.product_list.grid li.hovered .product-container .new-box, ul.tm-carousel li.hovered .product-container .button-container, ul.tm-carousel li.hovered .product-container .comments_note, ul.tm-carousel li.hovered .product-container .new-box {
    display: block;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  ul.product_list.grid li.first-item-of-tablet-line, ul.tm-carousel li.first-item-of-tablet-line {
    clear: both;
  }
}
ul.product_list.grid li.hovered h5, ul.tm-carousel li.hovered h5 {
  /*	min-height: 30px;*/
}

@media (min-width: 1280px) {
  #blockpack ul > li.last-line {
    /*border: none;*/
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none;
  }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left;
  }
}

/*******************************************************
Product Curosol in Home Page Styles 
********************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  ul.tm-carousel li {
    width: 100%;
    float: left;
  }
}
ul.tm-carousel li .quick-view {
  font: 700 13px/16px "Open Sans", Arial, Helvetica, sans-serif;
  color: #777676;
  margin: 0;
  padding: 13px 0 0;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 107px;
  height: 43px;
  display: block;
  text-align: center;
}
@media (min-width: 1280px) {
  ul.tm-carousel li .quick-view {
    display: none;
  }
}
@media (max-width: 767px) {
  ul.tm-carousel li .quick-view {
    display: none !important;
  }
}

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list > li .left-block {
    width: 100%;
  }
}
ul.product_list.list > li:first-child .product-container {
  border-top: none;
}
ul.product_list.list > li .product-container {
  border-top: 1px solid #e2e2e2;
  padding: 20px 0 20px;
}
ul.product_list.list > li .product-image-container {
  position: relative;
  /*border: 1px solid $base-listing-border-color;*/
  padding: 0;
}
@media (max-width: 479px) {
  ul.product_list.list > li .product-image-container {
    max-width: 290px;
    margin: 0 auto;
  }
}
ul.product_list.list > li .product-image-container .content_price {
  display: none !important;
}
ul.product_list.list > li .product-flags {
  color: #0f0f0f;
  margin: 0;
}
ul.product_list.list > li .product-flags .discount {
  color: #cf082e;
}
ul.product_list.list > li h5 {
  padding-bottom: 8px;
}
ul.product_list.list > li .product-desc {
  margin-bottom: 15px;
}
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%;
  }
}
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px;
  position: static;
}
ul.product_list.list > li .left-block .product-flags {
  display: none;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block {
    float: right;
    width: 55%;
    padding: 0;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block {
    width: 100%;
  }
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;
    padding-bottom: 16px;
  }
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 0;
    margin: 0;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px;
  }
}
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding: 0;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-top: 0;
    width: 100%;
  }
}
ul.product_list.list > li .right-block .right-block-content .content_price span {
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 14px;
}
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
  margin-right: 8px;
}
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden;
  padding-bottom: 10px;
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .button-container {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .button-container {
    clear: both;
  }
}
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
  margin-bottom: 10px;
  font-size: 0;
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    float: left;
    clear: both;
  }
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    clear: both;
    padding: 0;
  }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
    float: left;
    padding: 0;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block;
  }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
    display: none !important;
  }
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
  font-size: 14px;
  cursor: pointer;
  height: auto;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  padding: 8px 0 8px 35px;
  border: none;
  background: url("../img/megnor/cart-info.png") no-repeat scroll left -31px transparent;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist:hover {
  background-position: left -66px;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  padding: 8px 0 8px 35px;
  clear: both;
  background: url("../img/megnor/cart-info.png") no-repeat scroll left -102px transparent;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare:hover {
  background-position: left -138px;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
  margin-right: 10px;
}
@media (min-width: 1280px) {
  ul.product_list.list > li:hover .product-image-container .quick-view {
    display: block;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li {
    text-align: center;
  }
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 30px;
  margin-bottom: 10px;
}
@media (min-width: 1280px) {
  #index ul.product_list.tab-pane > li {
    margin-bottom: 0;
  }
}
#index ul.product_list.tab-pane > li .availability {
  display: none;
}
@media (min-width: 1280px) {
  #index ul.product_list.tab-pane > li.last-line {
    /*border: none;
    padding-bottom: 0;*/
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
    clear: none;
  }
  #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
    clear: left;
  }
}

/***** IE code *****/
@media (max-width: 767px) {
  #index .button-container {
    width: 100px;
  }
}
