/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block .page-subheading {
  margin-bottom: 16px;
}
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}
#sitemap .sitemap_block li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}

#listpage_content div.tree_top {
  padding: 5px 0 0 0;
}
#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #0f0f0f;
}
#listpage_content div.tree_top a:hover:before {
  color: #2271b2;
}

.categTree ul.tree {
  padding-left: 0;
  overflow: auto;
}
.categTree ul.tree li {
  margin: 0 0 0 21px;
  padding: 5px 0 0 23px;
  border-left: 1px solid #e2e2e2;
  background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}
.categTree ul.tree > li {
  margin: 0 0 0 11px;
}
.categTree ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
