/********************************************************
			Megnor Custom Styles
********************************************************/
.tm-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.tm-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.tm-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.tm-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: -1px;
}
.tm-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.tm-carousel .owl-item {
  float: left;
}
.tm-carousel .owl-wrapper,
.tm-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

#manufacturer-carousel {
  width: 98%;
  margin: 0 auto;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../../img/megnor/grabbing.html") 8 8, move;
}

.customNavigation {
  position: absolute;
  z-index: 959;
  top: 15px;
  width: 100%;
}
.customNavigation a {
  position: absolute;
  top: -20px;
  font-size: 22px;
  line-height: 25px;
  padding: 0 !important;
}
.customNavigation a:before {
  color: red;
}
.customNavigation a:after {
  color: green;
}
.customNavigation a.prev {
  right: 27px;
}
.customNavigation a.next {
  right: 3px;
}

.icon-chevron-sign-right {
  color: #777;
}
.icon-chevron-sign-right:hover {
  color: #2271B2;
}

.icon-chevron-sign-left {
  color: #777;
}
.icon-chevron-sign-left:hover {
  color: #2271B2;
}

#index #tm_manufacturer .customNavigation a {
  top: 45px;
}
#index .customNavigation {
  position: absolute;
  z-index: 959;
  top: 15px;
  width: 100%;
  display: none;
}
@media (max-width: 767px) {
  #index .customNavigation {
    display: block !important;
  }
}
#index .customNavigation a {
  color: #D7CEB2;
  font-size: 0;
  line-height: 25px;
  padding: 0 !important;
  position: absolute;
  top: 185px;
  width: 30px;
  height: 50px;
}
#index .customNavigation a:hover {
  color: #A6976B;
}
#index .customNavigation a.prev {
  left: -10px;
  background: url("../../img/megnor/arrows.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
}
#index .customNavigation a.prev:hover {
  background-position: -48px center;
}
#index .customNavigation a.next {
  right: 10px;
  background: url("../../img/megnor/arrows.png") no-repeat scroll -145px center rgba(0, 0, 0, 0);
}
#index .customNavigation a.next:hover {
  background-position: -97px center;
}
#index #views_block .customNavigation a.thumbs_list_prev {
  left: 0;
  right: auto;
  top: 10px;
}
#index #views_block .customNavigation a.thumbs_list_next {
  right: 0;
  top: 10px;
}

.icon-chevron-sign-right:before {
  content: "\f0a9";
  font-family: "FontAwesome";
}

.icon-chevron-sign-left:before {
  content: "\f0a8";
  font-family: "FontAwesome";
}

@media only screen and (max-width: 767px) {
  #index .customNavigation a.next {
    right: 20px;
  }

  #index .customNavigation a.prev {
    left: 0;
  }
}
#productscategory_list .customNavigation, #crossselling_list .customNavigation, .accessories-block .customNavigation{top:35px;}
#order #crossselling_list .customNavigation{top:15px;}