/********************************************************
			Right to Left Styles
********************************************************/
* {
  direction: rtl !important;
}

.top_button {
  right: auto !important;
  left: 15px;
}

.cart_block .cart_block_list .remove_link, #categories_block_left li span.grower {
  left: 0px;
  right: auto !Important;
}

#categories_block_left li a {
  background: url("../img/megnor/cat_arrow_rtl.png") no-repeat scroll right 10px rgba(0, 0, 0, 0) !important;
  padding: 0 19px 0 30px !important;
}
#categories_block_left li a:hover {
  background: url("../img/megnor/cat_arrow_hover_rtl.png") no-repeat scroll right 10px rgba(0, 0, 0, 0) !important;
}
#categories_block_left .title_block:after {
  left: 0px;
  right: auto !Important;
}
#categories_block_left ul li ul {
  margin: 0 10px 0 0px !Important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, header .row #header_logo, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
header .nav nav #currencies-block-top, #cmsinfo_block > div, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, #left_column, #center_column, #right_column, .nav-tabs > li, ul li.tm-col-md-5, ul.step li, .box-info-product p#quantity_wanted_p, #attributes .attribute_list #color_to_pick_list {
  float: right;
}

@media (min-width: 480px) and (max-width: 767px) {
  #search_block_top {
    float: none;
  }
}

@media (max-width: 767px) {
  header .row #header_logo {
    float: none;
  }
}

@media (max-width: 767px) {
  .sf-menu {
    height: auto !Important;
  }
}
.sf-menu > li {
  background-position: left center !Important;
  float: none !Important;
}
.sf-menu > li.homelink {
  background-position: center center !Important;
}
@media (max-width: 991px) {
  .sf-menu > li {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .sf-menu > li span {
    left:0;
    right: auto !important;
  }
}

.sf-menu > li, .sf-contener, #languages-block-top, .cart_block .cart-images, .testimonial_left, .footer-container #footer #social_block ul, .sf-menu > li > ul > li, #crossselling #crossselling_list li {
  float: right !IMportant;
}

#header .shopping_cart, .testimonial_right, .footer-container #footer #social_block, .pull-right {
  float: left !IMportant;
}

.container .block_cart {
  float: left;
}
@media (max-width: 767px) {
  .container .block_cart {
    float: none;
  }
}

.header_user_info {
  float: left !IMportant;
}
.header_user_info li {
  background-position: left center !important;
}

#header_links li a {
  text-align: right;
}

.col-sm-3.cart {
  float: left !important;
}

#header_links {
  float: left !important;
}
#header_links li {
  border-right: 0px;
}
@media (max-width: 767px) {
  #header_links li {
    border-left: 0px;
  }
}

#currencies-block-top ul li a, #currencies-block-top ul li > span {
  text-align: right;
}

#search_block_top {
  float: left !important;
  padding: 8px 7px 8px 45px !important;
}
@media (max-width: 767px) {
  #search_block_top {
    float: none;
  }
}

#search_block_top .btn.button-search {
  left: -38px !important;
  right: auto !Important;
}

.bx-viewport, .tm-carousel .owl-wrapper-outer {
  direction: ltr !important;
}

#tmhomepage-slider .bx-wrapper .bx-prev {
  left: 60px;
  right: auto !Important;
}

.block .title_block:before, .block h4:before, .block > a:first-child:before, .shopping_cart .title_block:before, .shopping_cart h4:before, .shopping_cart > a:first-child:before {
  float: right !IMportant;
  margin: 0 0 0 6px;
}
.block .title_block:after, .block h4:after, .block > a:first-child:after, .shopping_cart .title_block:after, .shopping_cart h4:after, .shopping_cart > a:first-child:after {
  left:0px;
  right: auto !IMportant;
}

.editorial_block h1:before {
  float: right;
  margin: 0 0 0 6px;
}

.block .centertitle_block:before {
  float: right;
  margin: 0 0 0 6px;
}

#index .customNavigation a.next {
  right: 0 !important;
}

#index .customNavigation a.prev {
  left: 20px !important;
}

.customNavigation a.prev {
  left: 2px;
  right: auto !Important;
}

.customNavigation a.next {
  left: 23px;
  right: auto !Important;
}

.block .products-block li .products-block-image {
  margin: 0 0 0 19px;
  float: right !IMportant;
}

.inner_testimonial img {
  float: right !IMportant;
  margin: 0 0 0 10px;
}
@media (max-width: 991px) {
  .inner_testimonial img {
    float: none !Important;
  }
}

.footer-container #footer #block_various_links_footer ul li {
  background-position: right center;
}

.cart_navigation .button-medium {
  float: left;
}

@media (max-width: 767px) {
  .footer-container #footer h4:after {
    left: 0;
    right: auto !Important;
  }
}

.icon-chevron-left:before {
  content: "\f105" !IMportant;
  margin-left: 5px;
}

.icon-chevron-right:before {
  content: "\f104" !IMportant;
  margin-right: 5px;
}

p.payment_module a.cheque:after, p.payment_module a.bankwire:after, p.payment_module a.cash:after {
  content: "\f053" !IMportant;
  left: 15px;
  right: auto !important;
}

p.payment_module a {
  padding: 33px 99px 34px 40px;
}
p.payment_module a.bankwire {
  background-position: 285px 12px;
}
p.payment_module a.cheque {
  background-position: 285px 15px;
}
p.payment_module a.cash {
  background-position: 299px 15px;
}

.button.button-medium span i.left {
  margin: -4px 1px 0 10px;
}

.breadcrumb {
  background: #fff;
}
.breadcrumb a {
  margin-left: 0px;
}
.breadcrumb a:after {
  left: -10px;
  right: auto !important;
  transform: rotate(223deg);
}

.breadcrumb a.home {
  margin: 0 -10px 0 0;
}

ul.product_list.list > li .right-block {
  float: left !IMportant;
}
ul.product_list.list > li .right-block .right-block-content {
  border-right: 1px solid #EDE5DA;
  border-left: 0px !IMportant;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    border: 0px;
  }
}
ul.product_list.list > li .right-block .right-block-content .button-container {
  float: right !IMportant;
}
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
  float: right !Important;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin: 0 5px;
  }
}

ul.product_list .functional-buttons div.wishlist a:before {
  margin-left: 3px;
}
ul.product_list .functional-buttons .compare a:before {
  margin-left: 10px;
}
ul.product_list .functional-buttons > div {
  float: right !IMportant;
  padding-right: 0px;
}
ul.product_list.list .comments_note {
  /*	text-align:right !IMportant;
  	.star_content{float:right !IMportant;}*/
  text-align: right;
}
ul.product_list.list .comments_note .star_content {
  float: right;
}

.comments_advices a.reviews {
  border-left: 1px solid #EDE5DA;
  border-right: 0px !important;
  padding: 0 0 0 15px !IMportant;
}

#product_comments_block_extra .comments_note span {
  float: right !important;
}
#product_comments_block_extra .star_content {
  float: right !Important;
}

#product p#loyalty {
  padding: 17px 35px 15px 0px !Important;
}
#product p#loyalty:before {
  right: 0;
  left: auto;
}

#layer_cart .layer_cart_product h2 i {
  float: right !Important;
  padding: 0 0 0 8px !Important;
}
#layer_cart .layer_cart_product .product-image-container {
  float: right !important;
  margin: 0 0 0 30px !IMportant;
}
#layer_cart .cross {
  left: 7px;
  right: auto !important;
}

#product_comments_block_tab div.comment .comment_details {
  border-right: 1px solid #EDE5DA;
  border-left: 0px !Important;
}

.radio-inline .checker, .checkbox .checker, .addresses .select label, .addresses .selector, .addresses .addresses .address_select, .page-heading:before {
  float: right;
}

div.checker, .page-heading:before {
  margin: 0 0 0 5px;
}

#address .form-group.phone-number {
  width: 100%;
}

#identity .form-group .row .col-xs-4 {
  float: right !Important;
}

#my-account ul.myaccount-link-list li a i {
  right: 0;
  left: auto !Important;
}
#my-account ul.myaccount-link-list li a span {
  border-color: #FFFFFF #E2DBCD #FFFFFF #FFFFFF !important;
  margin: 0 52px 0 0 !IMportant;
}

.cat-title:after {
  left: 15px;
  right: auto !important;
}

.footer-container #footer .footer-block ul li a {
  background-position: right 8px;
}

.footer-container #footer .footer-block ul li a:hover {
  background-position: right 8px;
}

#home-page-tabs > li:first-child {
  margin-left: 8px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #cart_summary.table-bordered {
    float: left;
    display: inline;
    overflow: auto;
  }
}

#languages-block-top div.current:after, #currencies-block-top div.current:after {
  float: left;
  padding: 0 12px 0 0px !IMportant;
}

#sitemap .categTree ul.tree li {
  background: url("../img/sitemap-horizontal.png") no-repeat scroll right 15px rgba(0, 0, 0, 0) !important;
  border-left: medium none !important;
  border-right: 1px solid #ddd !important;
  margin: 0 8px 0 0 !important;
  padding: 5px 23px 0 0 !important;
}
#sitemap .categTree ul.tree li a:before {
  padding-left: 10px;
  padding-right: 0 !important;
}

#usefull_link_block a {
  padding: 0 30px 0 0 !IMportant;
}

#usefull_link_block .add {
  padding: 0 30px 0 0 !IMportant;
}

#usefull_link_block li a:before {
  right: 0px;
  left: auto;
}

#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  right: 0;
  left: auto;
}

.pb-center-column h1:before {
  float: right !IMportant;
  margin: 0 0 0 6px !IMportant;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #thumbs_list {
    width: 245px !IMportant;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #thumbs_list {
    margin: 0 28px !IMportant;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pb-center-column {
    width: 33%;
  }
}
.pb-center-column p.online_only {
  text-align: right !IMportant;
}
.pb-center-column #buy_block label {
  float: right !IMportant;
  text-align: right !IMportant;
}

.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  left: 10px;
  right: auto !Important;
}

#subcategories ul li, #subcategories .display li, .content_sortPagiBar ul li, .content_sortPagiBar .display li {
  float: right !Important;
}

.layered_slider_container {
  margin: 6px 9px 6px 6px !important;
}

.page-heading span.heading-counter {
  float: left;
}

#subcategories ul {
  margin: 0 !IMportant;
}

#usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_added, #usefull_link_block li#favoriteproducts_block_extra_removed {
  padding: 0 30px 0 0 !Important;
}

.order-opc .page-heading.step-num:before {
  margin: 0 0 0 27px !IMportant;
}

#order-opc .page-heading.step-num span {
  right: 25px;
  left: auto !Important;
}

ul.step li.last {
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}
ul.step li.first {
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}

p.payment_module a.bankwire {
  background-position: 99% 12px;
}

p.payment_module a.cheque {
  background-position: 99% 15px;
}

p.payment_module a.cash {
  background-position: 100% 15px;
}

#tmdownlaod > .row .col-lg-4, div.uploader span.filename, div.uploader span.action {
  float: right !IMportant;
}

.banner_content {
  text-align: left !important;
}

.cms_product {
  float: left;
}

.cms_product .all {
  float: right !important;
}

.cms_product .image {
  float: right !important;
  margin: 0 0 0 35px !important;
}

.fullwidthbanner-container {
  float: right !important;
}

.tmtopbanner-container {
  float: left !important;
}

#tm_weekly_special_block .title_block {
  float: right !important;
  padding: 0 0 0 40px;
  background-position: left center !important;
}

#tm_weekly_special_block li {
  float: right !important;
  background-position: right center !important;
}

.sub_cms_block .sub_cms .sub_cms_img {
  float: right !important;
  margin: 0 0 0 20px;
}

.sub_cms_block .sub_cms {
  padding: 25px 20px 20px 11px;
}

ul.product_list.grid li .product-container, ul.tm-carousel li .product-container {
  border-right: 1px solid #e2e2e2 !important;
  border-left: none !important;
}

.footer_link_quick .img {
  float: right !important;
  margin: 0 0 0 10px;
}

.footer_link_quick a {
  float: right !important;
}

#center_column .newsletter-block #social_block {
  float: right !important;
}

#center_column .newsletter-block {
  float: left !important;
  margin: 0 30px 0 0;
}

#cmsinfo_block {
  float: right !important;
}

#center_column #newsletter_block_left .inputNew {
  float: right !important;
  -webkit-border-radius: 5px 0 0 5px !important;
  -moz-border-radius: 5px 0 0 5px !important;
  -ms-border-radius: 5px 0 0 5px !important;
  border-radius: 5px 0 0 5px !important;
}

.footer_cms_news ul li .cms_date {
  float: right !important;
}

.footer_cms_news ul li .news_content {
  margin: 0 75px 0 0 !important;
}

.footer_cms_news, .contact-us {
  float: right !important;
}

.contact-us ul li {
  padding: 0 30px 0 0 !important;
}

.contact-us ul li.address {
  background-position: right 0;
}

.contact-us ul li.contact {
  background-position: right -87px;
}

.contact-us ul li.email {
  background-position: right -179px;
}

.contact-us ul li.skype {
  background-position: right -271px;
}

.contact > strong {
  float: right;
}

#center_column #newsletter_block_left .button.button-small {
  border-radius: 5px 0px 0px 5px !important;
}

#center_column #newsletter_block_left .inputNew {
  border-radius: 0px 5px 5px 0px !important;
}

@media (min-width: 1199px) {
  #columns #newsletter_block_left .form-group .form-control {
    width: 204px !important;
  }
}

.footer_cms .footer_content {
  padding: 10px 50px 10px 0 !important;
}

.footer_cms .footer_cms1 .footer_content {
  background-position: right -215px !important;
}

.footer_cms .footer_cms2 .footer_content {
  background-position: right -293px !important;
}

.footer_cms .footer_cms3 .footer_content {
  background-position: right -367px !important;
}

.footer_cms .footer_cms4 .footer_content {
  background-position: right -443px !important;
}

.footer_cms .footer_cms5 .footer_content {
  background-position: right -518px !important;
}

.footer-container #footer #block_various_links_footer.footer-block ul li:first-child {
  background: none !important;
}

.block .list-block li a:before {
  float: right;
  content: " ";
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  background-position: right -31px !important;
  padding: 8px 35px 8px 0 !important;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist:hover {
  background-position: right -66px !important;
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  background-position: right -102px !important;
  padding: 8px 35px 8px 0 !important;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare:hover {
  background-position: right -138px !important;
}

.content_sortPagiBar .sortPagiBar label, .content_sortPagiBar .sortPagiBar select {
  float: right !important;
  padding: 3px 10px 0 6px !important;
}

.content_sortPagiBar .sortPagiBar .nbrItemPage #uniform-nb_item {
  float: right !important;
}

.table-data-sheet tr td:first-child {
  border-right: none !important;
  border-left: 1px solid #e2e2e2;
}

table td, table th {
  text-align: right;
}

.box-cart-bottom .addtocart {
  float: right;
}

#address .form-group label, #identity .form-group label, #account-creation_form .form-group label, #new_account_form .form-group label, #opc_account_form .form-group label, #authentication .form-group label {
  float: right !important;
}

.sf-menu > li {
  border-left: none !important;
  border-right: 1px solid #e2e2e2 !important;
}

.sf-menu li li li a:before {
  padding: 0 0 0 10px !important;
  content: "\f0d9" !important;
}

.sf-menu > li > ul > li#category-thumbnail > div {
  float: right !important;
}

.block .list-block li {
  background: url("../img/megnor/cat_arrow_rtl.png") no-repeat scroll right 10px rgba(0, 0, 0, 0);
  padding-right: 20px;
}
.block .list-block li:hover {
  background: url("../img/megnor/cat_arrow_hover_rtl.png") no-repeat scroll right 10px rgba(0, 0, 0, 0);
}

.footer-container #footer h4:after {
  left: 0 !important;
  right: auto !important;
}

.sub_cms_block .sub_cms .sub_cms_right {
  margin: 0 83px 0 0;
}

.footer_cms .f_cms {
  float: right !important;
}

#languages-block-top ul li img {
  float: right !important;
}

/*ul.product_list.grid > li.first-in-line, ul.tm-carousel > li.first-in-line {clear:right !important;}*/
.footer-container #footer .footer-block, #languages-block-top ul li span {
  float: right !important;
}

.footer-container #footer #tm_links_block2_footer.footer-block {
  border-right: 1px solid #cccccc;
  border-left: none !important;
}
@media (max-width: 991px) {
  .footer-container #footer #tm_links_block2_footer.footer-block {
    border: medium none;
  }
}

.footer-container #footer #tm_footer_block_cms.footer-block {
  border-left: 1px solid #cccccc;
  border-right: none !important;
}

#tm_weekly_special_block li.last {
  background: none;
  float: left;
}

.cms_banner .cms_banner_left a {
  float: right !important;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
  left: 20px;
  right: auto !important;
}

.jcarousel-skin-tango .jcarousel-next-vertical {
  left: 0;
  right: auto !important;
}

.block .list-block li a {
  background: none !important;
}
.block .list-block li a:hover {
  background: none;
}

#tm_weekly_special_block li.last, .header_permentlink {
  float: left !important;
}

.cart_block .cart-info {
  text-align: right !important;
}

.cart_block .cart_block_shipping_cost, .cart_block .cart_block_tax_cost, .cart_block .cart_block_total, .cart_block .cart_block_wrapping_cost {
  float: left !important;
}

#header .cart_block {
  text-align: right !important;
}

@media (min-width: 480px) and (max-width: 991px) {
  /*ul.product_list.grid > li.first-item-of-tablet-line, ul.tm-carousel > li.first-item-of-tablet-line {clear:right !important;}
  ul.product_list.grid > li.first-in-line, ul.tm-carousel > li.first-in-line {clear:none !important;}*/
}
@media (min-width: 1199px) and (max-width: 1280px) {
  /*1200 */
  #center_column .newsletter-block {
    margin: 0 17px 0 0 !important;
  }
}
@media (max-width: 991px) {
  /*992 */
  .sub_cms_block .sub_cms .sub_cms_img {
    float: none !important;
    margin: 0 auto !important;
  }

  .sub_cms_block .sub_cms .sub_cms_right {
    margin: 0;
  }

  .footer_cms_news, .contact-us {
    width: 340px;
  }

  .footer-container #footer #tm_footer_block_cms.footer-block {
    padding: 0 15px 15px;
    border: none;
  }

  .toggle-footer {
    float: right;
    clear: both;
  }

  .sf-menu > li {
    border: none !important;
  }
}
@media (max-width: 767px) {
  /*767 */
  #search_block_top, .col-sm-3.cart, .header_user_info {
    float: none !important;
  }

  #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
    float: right !important;
    clear: right !important;
  }
}
#center_column #social_block {
  left: 60px;
}
@media (max-width: 1199px) {
  #center_column #social_block {
    right: 30px;
    left: auto;
  }
}

.content_sortPagiBar .sortPagiBar #productsSortForm, .content_sortPagiBar .sortPagiBar .nbrItemPage {
  float: left;
}

.content_sortPagiBar .display, .content_sortPagiBar .display_m {
  float: right;
}

@media (max-width: 991px) {
  #tm_toplink .title_block {
    padding-right: 10px;
  }
}
#header .cart_block{left:0; right:auto;}
@media (max-width: 767px) {
#header .cart_block{right:0; left:auto;}
}


#currencies-block-top ul, #languages-block-top ul{right:0;}

.footer-container #footer #block_various_links_footer.footer-block ul li{background-position:right center;}
#categories_block_left li li a:before{content:"";}

.sortPagiBar .display .display-title {
    display: none;
}
@media (max-width: 480px) {
	#currencies-block-top ul, #languages-block-top ul{
		left:0; right:auto;
	}
}

.cms_banner .cms_banner_right img{height:auto;}
#identity #center_column form.std .row .col-xs-4, #authentication #center_column form.std .row .col-xs-4{float:right;}