/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0;
}
#columns #newsletter_block_left .form-group .form-control {
  width: 218px;
  display: inline-block;
}
@media (max-width: 1199px) {
  #columns #newsletter_block_left .form-group .form-control {
    width: 80%;
  }
}
@media (max-width: 479px) {
  #columns #newsletter_block_left .form-group .form-control {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #columns #newsletter_block_left .form-group .form-control {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

/* Block newsletter footer */
#footer #newsletter_block_left {
  border: none;
}
@media (max-width: 767px) {
  #footer #newsletter_block_left {
    width: 100%;
  }
}
#footer #newsletter_block_left h4 {
  font: 18px/22px "Open Sans", Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#footer #newsletter_block_left h4:after {
  display: none;
}
#footer #newsletter_block_left .block_content {
  background: none;
  border: none;
  padding: 0;
  margin-top: 15px;
}
#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
}
#footer #newsletter_block_left .form-group .form-control {
  height: 45px;
  line-height: 30px;
  max-width: 267px;
  background: #FFFFFF;
  border-color: #515151;
  color: #525252;
  padding: 5px 43px 5px 12px;
  display: inline-block;
  float: left;
}
#footer #newsletter_block_left .form-group .form-control:focus {
  -moz-box-shadow: black 0px 0px 0px;
  -webkit-box-shadow: black 0px 0px 0px;
  box-shadow: black 0px 0px 0px;
}
#footer #newsletter_block_left .form-group .button-small {
  margin-left: -43px;
  border: none;
  background: none;
  text-align: center;
  color: #908f8f;
  padding: 8px;
}
#footer #newsletter_block_left .form-group .button-small:before {
  content: "\f138";
  font-family: "FontAwesome";
  font-size: 28px;
  line-height: 28px;
}
#footer #newsletter_block_left .form-group .button-small:hover {
  color: #ffe422 !important;
}
#footer #newsletter_block_left .form-group .button-small span {
  display: none;
}
#footer #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  font-size: 13px;
  line-height: 26px;
  clear: both;
}
@media (min-width: 1200px) {
  #footer #newsletter_block_left .warning_inline {
    display: inline-block;
    position: relative;
    top: -35px;
    margin-bottom: -35px;
    left: 15px;
    clear: none;
  }
}
#footer #newsletter_block_left .newsletter-input {
  max-width: 100% !important;
}
