/*******************************************************************
					Cart Block Styles
********************************************************************/
.col-sm-3.cart {
  float: right;
  width: auto;
}
@media (max-width: 767px) {
  .col-sm-3.cart {
    float: none;
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
}

#header .shopping_cart {
  position: relative;
  float: right;
  padding-top: 34px;
}
@media (max-width: 767px) {
  #header .shopping_cart {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  #header .shopping_cart .ajax_cart_product_txt, #header .shopping_cart .ajax_cart_product_txt_s, #header .shopping_cart .ajax_cart_no_product {
    display: none !important;
  }
}
@media (max-width: 767px) {
  #header .shopping_cart .ajax_cart_no_product {
    display: none;
  }
}
#header .shopping_cart a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#header .shopping_cart > a:first-child:after {
  /*content: "\f0d7";
  font-family: $font-icon;
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #686666;
  padding: 6px 0 0 0;*/
}
@media (max-width: 767px) {
  #header .shopping_cart > a:first-child:after {
    content: "";
  }
}
#header .shopping_cart > a:first-child:hover {
  /*&:after {
  	content: "\f0d8";
  	padding: 4px 0px 2px 0px;
  }*/
}
@media (max-width: 767px) {
  #header .shopping_cart > a:first-child:hover {
    content: "";
  }
}

.shopping_cart {
  width: auto;
  /*width: 270px;*/
}
@media (max-width: 480px) {
  .shopping_cart {
    padding-top: 20px;
  }
}
@media (max-width: 1200px) {
  .shopping_cart {
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}
.shopping_cart > a:first-child {
  padding: 12px 10px;
  /* fallback/image non-cover color */
  background-color: #fff205;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#fff205, #fad603);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff205), to(#fad603));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#fff205, #fad603);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#fff205, #fad603);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px -1px #0a335e;
  -webkit-box-shadow: 1px 1px 3px -1px #0a335e;
  box-shadow: 1px 1px 3px -1px #0a335e;
  display: block;
  font-weight: normal;
  overflow: hidden;
}
@media (max-width: 767px) {
  .shopping_cart > a:first-child {
    padding: 13px;
    background: none;
    color: #0f0f0f;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 479px) {
  .shopping_cart > a:first-child {
    padding: 13px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
    display: none !important;
  }
}
.shopping_cart > a:first-child b {
  color: #2271b2;
  font: 14px/22px "Open Sans", sans-serif;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .shopping_cart > a:first-child b {
    color: #0f0f0f;
  }
}
.shopping_cart > a:first-child .ajax_cart_quantity, .shopping_cart > a:first-child .ajax_cart_product_txt {
  color: #2271b2;
  font: 14px/22px "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .shopping_cart > a:first-child .ajax_cart_quantity, .shopping_cart > a:first-child .ajax_cart_product_txt {
    color: #0f0f0f;
  }
}
.shopping_cart > a:first-child:before {
  content: "\f07a";
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #2271b2;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .shopping_cart > a:first-child:before {
    color: #0f0f0f;
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .shopping_cart > a:first-child:before {
    display: none;
  }
}
.shopping_cart .ajax_cart_total {
  display: none !important;
}
.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #686666;
  padding: 6px 0 0 0;
}
.shopping_cart .block_cart_collapse:after {
  content: "\f0d8";
  padding: 4px 0px 2px 0px;
}

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 0;
  top: 0;
}
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #777;
  display: block;
  width: 100%;
  height: 100%;
}
.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before {
  display: inline-block;
  content: "\f057";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 18px;
}
.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #2271b2;
}
.cart_block .cart-images {
  float: left;
  margin-right: 20px;
}
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px;
}
.cart_block .cart-info .product-name {
  padding-bottom: 5px;
  margin-top: -4px;
}
.cart_block .cart-info .product-name a {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
}
.cart_block .cart-info .quantity-formated {
  display: inline-block;
  color: #base-bodu-color;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 5px;
}
.cart_block .cart-info .quantity-formated .quantity {
  font-size: 15px;
}
.cart_block .block_content {
  padding: 15px;
}
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}
.cart_block dd {
  position: relative;
}
.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #124375;
}
.cart_block dd .cart_block_customizations li {
  padding: 10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px;
}
.cart_block .cart-prices {
  border-top: 1px solid #e2e2e2;
  font-weight: bold;
  padding: 0;
}
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  border-bottom: 1px solid #515151;
  padding: 7px 0;
}
.cart_block .cart-prices .cart-prices-line.last-line {
  border: none;
}
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.cart_block .cart-buttons a {
  padding: 0 10px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cart_block .cart-buttons a#button_order_cart {
  margin-right: 0;
  border: none;
}
.cart_block .cart-buttons a#button_order_cart span {
  padding: 7px 0;
  font-size: 1.1em;
  color: #0f0f0f;
  background: none;
}

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 100;
  display: none;
  height: auto;
  background: white;
  color: #0f0f0f;
  width: 295px;
  text-align: left;
}
@media (max-width: 767px) {
  #header .cart_block {
    top: 52px;
  }
}
@media (max-width: 480px) {
  #header .cart_block {
    width: 100%;
  }
}
#header .cart_block img {
  border: 1px solid #e2e2e2;
}
@media (max-width: 1200px) {
  #header .cart_block {
    width: 235px;
  }
}
#header .cart_block .cart_block_list .remove_link a,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #777777;
  outline: none;
  text-decoration: none;
}
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #2271b2;
}
#header .cart_block .price {
  color: #cf082e;
}
#header .cart_block dt {
  /*background: url(../../../img/cart-shadow.png) repeat-x;*/
}
#header .cart_block dt.first_item {
  background: none;
}
#header .cart_block .product-atributes {
  padding-bottom: 10px;
  font-size: 11px;
}
#header .cart_block .product-atributes a {
  color: #9c9b9b;
}
#header .cart_block .product-atributes a:hover {
  color: #2271b2;
}
#header .cart_block .cart-prices {
  border: none;
}
#header .block_content {
  margin-bottom: 0;
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right;
}

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart_block table.vouchers tr td {
  padding: 2px;
}
.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
.cart_block table.vouchers tr td.delete {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 15px;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  z-index: 99;
  width: 84%;
  margin-right: 8%;
  margin-left: 8%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#layer_cart .layer_cart_product {
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  position: static;
}
#layer_cart .layer_cart_product h2 {
  font: 400 23px/29px "Open Sans", Arial, Helvetica, sans-serif;
  color: #46a74e;
  margin-bottom: 22px;
  padding-right: 100px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product h2 {
    font-size: 18px;
    padding-right: 0;
    line-height: normal;
  }
}
#layer_cart .layer_cart_product h2 i {
  font-size: 30px;
  line-height: 30px;
  float: left;
  padding-right: 8px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product h2 i {
    font-size: 22px;
    line-height: 22px;
  }
}
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: 1px solid #e2e2e2;
  padding: 5px;
  float: left;
  margin-right: 30px;
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 38px 0 0 0;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}
#layer_cart .layer_cart_cart {
  border-left: 1px solid #e2e2e2;
  padding: 21px 30px 170px 30px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (min-width: 1200px) {
  #layer_cart .layer_cart_cart {
    min-height: 318px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #e2e2e2;
  }
}
#layer_cart .layer_cart_cart h2 {
  font: 400 23px/29px "Open Sans", Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 13px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_cart h2 {
    font-size: 18px;
  }
}
#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}
#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
}
#layer_cart .layer_cart_cart .button-container .btn {
  margin-bottom: 10px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 5px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
  padding-right: 5px;
  color: #777777;
}
#layer_cart .cross {
  position: absolute;
  right: 7px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #0f0f0f;
  z-index: 2;
}
#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 25px;
}
#layer_cart .cross:hover {
  color: #2271b2;
}
#layer_cart .continue {
  cursor: pointer;
  padding: 5px 10px;
}
#layer_cart p {
  padding: 0px;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e2e2e2;
  padding: 26px 30px 40px 30px;
  position: relative;
}
#layer_cart .crossseling h2 {
  font: 400 23px/26px "Open Sans", Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  margin-bottom: 25px;
}
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden;
}
#layer_cart .crossseling #blockcart_list ul {
  display: block;
}
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #e2e2e2;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #0f0f0f;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #c0c0c0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none;
}
#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  content: "\f137";
}
#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  content: "\f138";
}
#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden;
}

#header .header_cart {
  float: right;
  padding: 0 10px;
  width: auto;
}
@media (max-width: 767px) {
  #header .header_cart {
    padding: 0;
    position: absolute;
    right: 0;
    top: 72px;
    height: 50px;
    width: 26%;
    background: #EEEEEE;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
}
