#currencies-block-top {
  float: left;
  /*border-left: 1px solid #515151;*/
  position: relative;
}
@media (max-width: 767px) {
  #currencies-block-top {
    background: #EEEEEE;
    position: absolute;
    text-align: center;
    top: 118px;
    width: 25%;
    height: 50px;
    left: 25%;
    z-index: 959;
    border-right: 1px solid #fff;
  }
}
#currencies-block-top .cur-label {
  display: none;
}
#currencies-block-top span.firstWord {
  display: none;
}
#currencies-block-top div.current {
  padding: 10px;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  #currencies-block-top div.current {
    padding: 13px;
    color: #0f0f0f;
  }
}
@media (max-width: 479px) {
  #currencies-block-top div.current {
    text-align: center;
  }
}
#currencies-block-top div.current strong {
  font-weight: normal;
}
#currencies-block-top div.current:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  vertical-align: -2px;
  padding-left: 12px;
}
@media (max-width: 767px) {
  #currencies-block-top div.current:after {
    color: #0f0f0f;
  }
}
@media (max-width: 479px) {
  #currencies-block-top div.current:after {
    padding-left: 2px;
    font-size: 13px;
    line-height: 13px;
    vertical-align: 0;
    display: none;
  }
}
@media (max-width: 479px) {
  #currencies-block-top div.current .cur-label {
    display: none;
  }
}
@media (max-width: 767px) {
  #currencies-block-top div.current .cur-label {
    display: none;
  }
}
#currencies-block-top ul {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 157px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  z-index: 2;
}
@media (max-width: 767px) {
  #currencies-block-top ul {
    width: 100%;
    top: 52px;
  }
}
@media (max-width: 479px) {
  #currencies-block-top ul {
    width: 100px;
  }
}
#currencies-block-top ul li {
  color: #0f0f0f;
  line-height: 30px;
  font-size: 13px;
}
#currencies-block-top ul li a,
#currencies-block-top ul li > span {
  padding: 0 10px 0 12px;
  display: block;
  color: #0f0f0f;
  text-align: left;
}
#currencies-block-top ul li.selected a, #currencies-block-top ul li:hover a {
  color: #2271b2;
}
