#featured-products_block_center	{ 
    border-radius: 5px;
    padding: 10px;
    position: relative;  border: none;}
#featured-products_block_center li.last_item_of_line  {margin-right:0;}

#featured-products_block_center.block .block_content{padding: 0;}
