.header_user_info {
  float: right;
}
@media (max-width: 767px) {
  .header_user_info {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header_user_info ul {
    margin-bottom: 0;
  }
}
.header_user_info ul li {
  float: left;
  background: url("../../../img/megnor/pipe.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
}
@media (max-width: 767px) {
  .header_user_info ul li {
    float: none;
    display: inline-block;
  }
  .header_user_info ul li.li_logout {
    background: none;
  }
  .header_user_info ul li.li_login {
    background: none;
  }
}
.header_user_info ul a {
  color: white;
  display: block;
  padding: 10px;
  cursor: pointer;
}
.header_user_info ul a:hover, .header_user_info ul a.active {
  color: #2271b2;
}
