/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  /*border-top: 5px solid $dark-border-color;*/
  color: #d7d7d7;
  line-height: 19px;
  margin: 0 0 26px 0;
}
.content_scene_cat .content_scene_cat_bg {
  padding: 18px 10px 10px 42px;
  background-color: #464646 !important;
}
@media (max-width: 1199px) {
  .content_scene_cat .content_scene_cat_bg {
    padding: 10px 10px 10px 15px;
  }
}
.content_scene_cat span.category-name {
  font: 600 42px/51px "Open Sans", sans-serif;
  color: white;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  .content_scene_cat span.category-name {
    font-size: 25px;
    line-height: 30px;
  }
}
.content_scene_cat p {
  margin-bottom: 0;
  color: #0f0f0f;
}
.content_scene_cat a {
  color: white;
}
.content_scene_cat a:hover {
  text-decoration: underline;
}
.content_scene_cat .content_scene {
  color: #0f0f0f;
}
.content_scene_cat .content_scene .cat_desc {
  padding-top: 20px;
}
.content_scene_cat .content_scene .cat_desc a {
  color: #0f0f0f;
}
.content_scene_cat .content_scene .cat_desc a:hover {
  color: #2271b2;
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #e2e2e2;
  padding: 15px 0 0px 0;
}
#subcategories p.subcategory-heading {
  font-weight: bold;
  color: #0f0f0f;
  margin: 0 0 15px 0;
}
#subcategories ul {
  margin: 0;
}
#subcategories ul li {
  float: left;
  width: 128px;
  margin: 0 0 13px 20px;
  text-align: center;
}
@media (max-width: 319px) {
  #subcategories ul li {
    margin: 10px auto;
    float: none;
  }
}
#subcategories ul li .subcategory-image {
  padding: 0 0 8px 0;
}
#subcategories ul li .subcategory-image a {
  display: block;
  border: 1px solid #e2e2e2;
}
#subcategories ul li .subcategory-image a img {
  max-width: 100%;
  vertical-align: top;
}
#subcategories ul li .subcategory-name {
  font: 15px/22px "Open Sans", sans-serif;
  color: #2271b2;
  text-transform: capitalize;
}
#subcategories ul li .subcategory-name:hover {
  color: #cf082e;
}
#subcategories ul li .cat_desc {
  display: none;
}
#subcategories ul li:hover .subcategory-image a {
  /*border: 5px solid $dark-border-color;
  padding: 5px;*/
}
