#search_block_top {
  float: right;
  margin-top: 35px;
  padding: 8px 45px 8px 7px;
  width: 30%;
  /* fallback/image non-cover color */
  background-color: #2271b2;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#2271b2, #1e5792);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2271b2), to(#1e5792));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#2271b2, #1e5792);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#2271b2, #1e5792);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px -1px #0a335e;
  -webkit-box-shadow: 1px 1px 3px -1px #0a335e;
  box-shadow: 1px 1px 3px -1px #0a335e;
}
@media (max-width: 1199px) {
  #search_block_top {
    width: 25%;
  }
}
@media (max-width: 767px) {
  #search_block_top {
    width: 90%;
    float: none;
    margin: 80px auto 10px;
    overflow: hidden;
  }
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
#search_block_top .btn.button-search {
  /* fallback/image non-cover color */
  background-color: #fff205;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#fff205, #fad603);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff205), to(#fad603));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#fff205, #fad603);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#fff205, #fad603);
  display: block;
  position: absolute;
  top: 0;
  right: -38px;
  border: none;
  color: white;
  width: 30px;
  text-align: center;
  padding: 3px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 17px;
  width: 100%;
  text-align: center;
  color: #00569F;
}
#search_block_top .btn.button-search:hover {
  color: #6f6f6f;
}
#search_block_top #search_query_top {
  display: inline;
  padding: 0 7px;
  height: 30px;
  background: #fff;
  margin-right: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.ac_results {
  background: white;
  border: 1px solid #e2e2e2;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #eeeeee;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #0f0f0f;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
